*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    height: 8vh;
    border-bottom: 5px dashed rgb(255, 224, 177);
    display: flex;
    justify-content: center;
    padding: 15px;
    background: linear-gradient(to right, rgb(254, 245, 231), rgb(255, 224, 177) );
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 92vh;
    background-color: rgb(254, 245, 231);
}

.searchBox{
    margin: 20px;
}

.searchCity{
    background-color: salmon;
    width: 300px;
    margin-right: 10px;
}

.weatherBox{
    flex: 2;
    margin: 20px;
}

.forecastDays{
    display: flex;
    /* margin: 20px; */
    flex-direction: row;
    margin-left: 370px;
}

.eachDayCards{
    background-color: gray;
}



